@import url("https://fonts.googleapis.com/css?family=Montserrat:500,700");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  max-width: 100vw;
  max-height: 100vh;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  background-color: #111111;
}

button {
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #ffffff;
  overflow: hidden;
}

#image {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  max-height: 66.66%;
  opacity: 1;
  transform: translateY(0);
  transition: all 1000ms ease-in-out;
}
#image.faded {
  opacity: 0;
  transform: translateY(33.33%);
}

.container {
  display: flex;
  width: 80%;
  height: 100%;
  padding-top: 20vh;
  z-index: 3;
}

.col-left, .col-right {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 2.5%;
  width: 95%;
}

.col-left {
  position: relative;
  text-align: right;
}

.col-right {
  text-align: left;
  background-color: #111111;
}

#clock {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  letter-spacing: 2px;
  line-height: 1;
}

#weather-description {
  text-transform: capitalize;
  color: #bfbfbf;
  padding-top: 0.25rem;
}

#weather-temp {
  font-weight: 700;
  padding-bottom: 0.25rem;
}

.links-list {
  display: block;
  list-style-type: none;
  margin-bottom: 1rem;
  transform: translateX(0);
  opacity: 1;
  transition: all 250ms ease-in-out;
}
.links-list.loading {
  opacity: 0;
  transform: translateX(25%);
}
.links-list::last-of-type {
  margin-bottom: 0;
}
.links-list .heading {
  letter-spacing: 1px;
  font-size: 1.25rem;
  font-weight: 700;
}
.links-list li a {
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
  color: gray;
}
.links-list li a:hover {
  color: #bfbfbf;
}

#clock, #weather-description, #weather-temp {
  position: relative;
}
#clock:before, #weather-description:before, #weather-temp:before {
  content: " ";
  display: block;
  position: absolute;
  height: 100%;
  width: 0;
  top: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0);
  transition: all 500ms ease-in-out;
}
#clock.loading:before, #weather-description.loading:before, #weather-temp.loading:before {
  width: 100%;
  background-color: #ffffff;
}

/* Settings */
.btn {
  font-weight: 700;
  background: transparent;
  color: #111111;
  font-size: 1.5rem;
  border: 0;
  padding: 1rem;
  cursor: pointer;
}
.btn:hover {
  color: #515151;
}
.btn:focus {
  outline: none;
}

#btn-settings {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: rgba(255, 255, 255, 0.25);
  z-index: 4;
}
#btn-settings:hover {
  color: #ffffff;
}

#btn-settings-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: rgba(17, 17, 17, 0.5);
}
#btn-settings-close:hover {
  color: #111111;
}

#btn-settings-save {
  color: #ffffff;
  background-color: #009a00;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  box-shadow: 0 0 0 5px rgba(0, 0, 0, 0);
}
#btn-settings-save:hover {
  background-color: #00b300;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.2);
}

/* Settings Page itself */
#settings-page {
  position: fixed;
  top: 0;
  right: 100%;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  color: #111111;
  z-index: 5;
  overflow-y: scroll;
  transition: all 500ms ease-in-out;
  /* Open styling */
}
#settings-page.open {
  right: 0;
}
#settings-page h1 {
  padding: 1rem 1rem 1rem 0;
}
#settings-page .form-heading {
  margin-bottom: 1.25rem;
}
#settings-page hr {
  width: 60%;
  height: 3px;
  background-color: #e6e6e6;
  margin: 2rem auto;
  border: 0;
}
#settings-page .settings {
  max-width: 600px;
  margin: 0 auto 0 auto;
  padding: 5%;
}
#settings-page .settings .settings-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.form-group {
  margin-bottom: 1rem;
}
.form-group:last-of-type {
  margin-bottom: 0;
}
.form-group label {
  display: block;
  font-weight: 700;
  font-size: 0.875rem;
  margin-bottom: 0.25rem;
}
.form-group input.form-control {
  width: 100%;
  font-size: 1rem;
  padding: 0.5rem;
  border: 3px solid #e6e6e6;
  font-family: "Montserrat", sans-serif;
}
.form-group input.form-control:active, .form-group input.form-control:focus {
  outline: none;
  border-color: #80ff80;
}
.form-group input.form-control.has-error {
  border-bottom-color: #ff3333;
}
.form-group input.form-control.has-error + .helper {
  visibility: visible;
}
.form-group input.form-control + .helper {
  visibility: hidden;
  margin-top: 0.5rem;
  font-size: 0.75rem;
  color: #ff3333;
}

/* Responsive stuff */
@media screen and (max-width: 600px) {
  .wrapper {
    align-items: flex-start;
  }

  .col-left {
    text-align: center;
    margin-top: 20%;
  }

  .col-right {
    display: none;
  }

  #image {
    max-width: 80%;
    max-height: 80%;
    top: 65%;
    left: 10%;
  }

  #clock {
    font-size: 5rem;
    margin-bottom: 1rem;
  }

  #weather-temp, #weather-description {
    font-size: 2rem;
  }
}

/*# sourceMappingURL=style.css.map */
